body {
    font-family: Roboto, "Trebuchet MS", Helvetica, Arial, sans-serif;
    letter-spacing: .5px;
    color: #202020;
    position: relative;
    margin: 0;
}

.login-details svg {
    height: 20px;
    width: 20px;
    fill: white;
}

.header {
    background-color: #202020;
    color: white;
    font-weight: 500;
    font-size: 12px;
}

.main-navbar {
    display: flex;
    flex-direction: column;
}

.navbar-top {
    display: flex;
    justify-content: center;
    border: 1px solid #393939;
}

.navbar-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.navbar-bottom ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.navbar-bottom li {
    list-style-type: none;
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
}

.login-details {
    display: flex;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
    border: 1px solid #393939;
    padding-top: 10px;
    
}

.marvel-logo {
    display: flex;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
    border: 1px solid #393939;
}

.sign-in {
    padding-right: 10px;
    padding-left: 10px;
}

.sign-in a{
    text-decoration: none;
    color: white;
}

.join a{
    text-decoration: none;
    color: white;
}

.mastercard-navbar {
    display: flex;
    justify-content: center;
    border: 1px solid #393939;
    padding: 10px;
}

.mastercard-navbar a {
    text-decoration: none;
    color: white;
}

.mastercard-navbar p {
    margin: 0;
    padding-right: 30px;
    padding-left: 10px;
}

.search-icon {
    justify-self: center;
    border-right: 1px solid #393939;
    padding: 10px;
}

#banner {
    background-color: white;
    color: white;
}

.banner-background  {
    position: relative;
    width: 100%;
}

.banner-background img {
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.banner-img-text {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    font-weight: 700;
    padding-left: 30px;
}

.banner-img-text h1 {
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner-nav {
    position: absolute;
    z-index: 60;
    height: auto;
    display: flex;
    margin-top: 35px;
}

.banner-nav ul {
    position: relative;
    padding: 0 0 0 40px; 
    z-index: 40;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    -moz-animation-name: slideup;
    animation-name: slideup;
    -moz-animation-duration: .35s;
    animation-duration: .35s;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.banner-nav li {
    list-style-type: none;
    border-right: 1px solid #393939;
    background-color: rgb(32, 32, 32);
    font-size: 11px;
    padding: 30px;
    text-transform: uppercase;
}

#figure {
    background-color: white;
}

.figure-background  {
    position: relative;
    width: 100%;
}

.figure-img {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
}

.figure-img img {
    
}

.figure-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 30%;
}

.figure-text h1 {
    font-size: 30px;
}

.figure-text p {
    font-weight: 300;
}

.figure-text h3 {
    background-color: red;
    padding: 20px;
    color: white;
}

/* .figure-button:before {
    display: block;
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 80px solid white;
    border-left: 80px solid red;
    border-bottom: 80px solid white;
    border-right: 80px solid red;
    width: 0;
} */

.figure-socials {
    padding-right: 50px;
    font-size: 20px;
    color: rgb(121, 121, 121);
    text-align: end;
}

.fa-twitter {
    padding-left: 10px;
}

#news {
    background-color: #151515;
    color: white;
    padding: 15px 30px 50px 30px;
}

#news h1 {
    font-size: 30px;
    padding: 10px;
}

#news h2 {
    color: #999;
    font-size: 14px;
}

#news p {
    font-size: 15px;
    font-weight: 500;
}

.news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}
.card-one {
    padding: 10px;
}

.card-two {
    padding: 10px;
}

.card-three {
    padding: 10px;
}

.card-four {
    padding: 10px;
}

.card-one img {
    width: 100%;
}

.card-two img {
    width: 100%;
}

.card-three img {
    width: 100%;
}

.card-four img {
    width: 100%;
}

#video {
    background-color: white;
}

#video h1 {
    font-size: 30px;
    padding: 10px 10px 0 120px;
}


.video-background {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 20px 100px 20px 100px;
}

.video-card-one {
    width: 100%;
    text-align: start;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-card-one h4 {
    font-size: 12px;
    color: red;
    width: 100%;
    margin-top: 5px;
}

.video-card-one h2 {
    width: 100%;
    margin-top: 5px;
}

.video-card-one p {
    font-weight: 300;
    width: 100%;
    margin-top: 5px;
}

.video-card-one video {
    width: 80%;
}

.video-side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.video-side-one img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.video-side-two img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.video-side-three img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#comics {
    background-color: white;
}

#comics p {
    font-weight: 300;
}

#comics h1 {
    font-size: 30px;
    padding: 10px 10px 0 100px;
}

.comics-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 0px 10px 100px;
}

.comics-more {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    
}

.comics-more h4 {
    background-color: red;
    border: 1px solid red;
    border-radius: 15px;
    padding: 20px;
    color: white;
    margin: 10px;
    font-weight: 500;
}

#games {
    background-color: black;
    color: white;
}

.games-img {
    display: flex;
    padding: 30px 100px 0px 100px;
}

.games-img img {
    width: 100%;
}

.games-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

.games-text h1 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.games-text h3 {
    background-color: red;
    padding: 20px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.games-text h2{
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer {
    background-color: rgb(32, 32, 32);
    color: white;
}

.footer-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.footer-one {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 30px;
}

.footer-logo  {
    width: 80px;
}

.footer-nav-a li {
    text-transform: uppercase;
    list-style-type: none;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 12px;
}

.footer-nav-b li {
    text-transform: uppercase;
    list-style-type: none;
    font-size: 13px;
    margin-bottom: 12px;
    text-align: left;
}

.marvel-reward {
    padding: 10px;
}

.marvel-reward-a {
    display: flex;
    flex-direction: row;
    padding: 10px;
    
}

.marvel-reward-a img {
    width: 60px;
    margin-right: 20px;
}

.marvel-reward-a-text {
    display: flex;
    flex-direction: column;
}

.marvel-reward-a-text h2 {
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    margin: 0px;
}

.marvel-reward-a-text p {
    font-size: 14px;
    text-align: left;
    color: rgb(153, 153, 153);
    font-weight: 300;
    margin: 0px;
}

.marvel-reward-b {
    display: flex;
    flex-direction: row;
    padding: 10px;  
}

.marvel-reward-b img {
    width: 60px;
    margin-right: 20px;
}

.marvel-reward-b-text {
    display: flex;
    flex-direction: column;
}

.marvel-reward-b-text h2 {
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    margin: 0px;
}

.marvel-reward-b-text p {
    font-size: 14px;
    text-align: left;
    color: rgb(153, 153, 153);
    font-weight: 300;
    margin: 0px;
}

.footer-socials {
    padding: 10px;
}

.footer-socials h2 {
    font-size: 14px;
    text-transform: uppercase;
}

.footer-socials-icon ul {
    display: flex;
    justify-content: space-between;
}

.footer-socials-icon li {
    list-style-type: none;
    color: rgb(153, 153, 153);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}

.footer-two ul {
    display: flex;
    flex-wrap: wrap;
}

.footer-two li {
    color: #999;
    list-style-type: none;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;
}