body {
    font-family: Roboto, "Trebuchet MS", Helvetica, Arial, sans-serif;
    letter-spacing: .5px;
    color: #202020;
    position: relative;
    margin: 0;
}

.login-details svg {
    height: 20px;
    width: 20px;
    fill: white;
}

.header {
    background-color: #202020;
    color: white;
    font-weight: 500;
    font-size: 12px;
}

.main-navbar {
    display: flex;
    flex-direction: column;
}

.navbar-top {
    display: flex;
    justify-content: center;
    padding: 10px 100px 0px 100px;
}

.navbar-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.navbar-bottom ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar-bottom li {
    list-style-type: none;
    text-transform: uppercase;
    padding: 10px;
}

.login-details {
    display: flex;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
}

.marvel-logo {
    display: flex;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
}

.sign-in {
    padding-right: 10px;
    padding-left: 10px;
}

.mastercard-navbar {
    display: flex;
    justify-content: center;
}

.mastercard-navbar p {
    margin: 0;
    padding-right: 30px;
    padding-left: 10px;
}

.search-icon {
    justify-self: center;
}

#banner {
    background-color: white;
    color: white;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.banner-background  {
    position: relative;
    width: 100%;
}

.banner-background img {
    width: 100%;
}

.banner-img-text {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    font-weight: 700;
    padding-left: 30px;
}

.banner-img-text h1 {
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner-nav {
    z-index: 60;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(32, 32, 32);
}

.banner-nav ul {
    position: relative;
    padding: 0 0 0 40px; 
    z-index: 40;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.banner-nav li {
    list-style-type: none;
    border-right: 1px solid #393939;
}




