.container-text {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.footer a {
    text-decoration: done;
    text-align: center;
}

#message {
    text-align: center;
}