.container-text {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
}



#message {
    text-align: center;
} 